<div class="modal fade" id="csvImportModal" tabindex="-1" role="dialog" aria-labelledby="importModalLabel">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title">Import List</h6>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <%= form_with url: upload_csv_account_list_path(current_account, @list), method: :post, multipart: true  do |form| %>
        <div class="modal-body">
          <div class="col-12">
            <div class="form-group">
              <%= label_tag 'csv_file', 'Choose CSV File', class: 'control-label' %>
              <%= form.file_field :csv_file, class:"form-control form-control" %>
            </div>
          </div>
          <div class="modal-footer">
            <%= form.submit 'Import', class: 'btn btn-sm btn-theme' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
