<div class="folderTreeContainer">
  <h6 class="">Folders</h6>
  <div class="multiButton">  
    <%= link_to "", id: "newFolder", method: :GET, remote: true, class: "" do %>
      <i class="bi bi-folder-plus"></i>
      <span class="icon-text">New</span>
    <% end %>
    <%= link_to "", id: "editFolder", method: :GET, remote: true, class: "" do %>
      <i class="bi bi-pencil-square"></i>
      <span class="icon-text">Edit</span>
    <% end %>
    <%= link_to "", id: "deleteFolder", method: :delete, remote: true, class: "", data: { confirm: 'Are you sure you want to delete this folder?' } do %>
      <i class="bi bi-trash"></i>
      <span class="icon-text">Delete</span>
    <% end %>
    <a href="javascript:void(0)" id="privacyFolder">
      <i class="bi bi-eye-slash"></i>
      <span class="icon-text">Privacy</span>
    </a>
    <a href="javascript:void(0)" id="lockFolder">
      <i class="bi bi-lock"></i>
      <span class="icon-text">Lock</span>
    </a>
  </div>
  <p id='selectFolderWarning'><i class='bi bi-exclamation-triangle me-1'></i>Please select folder to perform the operations.</p>
  <div id="folderSection" data-folder-id="">
    <%= render "folders/folder_tree", folders: folders%>
  </div>
</div>
