<div class="pagetitle">
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item">Domains</li>
      <li class="breadcrumb-item active">new</li>
    </ol>
  </nav>
</div>

<section class="section">  
  <div class="col-lg-12 col-sm-12">
    <div class="card">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col mr-auto">
            <h4>New Domain </h4>
            <%= render 'form'%>
          </div>
          <div class="col col-auto pr-2"></div>
        </div>
      </div>
    </div>
  </div>
</section>
