<div class="formControlShowFolderAndImages">
  <div class="CIFolderContainerMini" id="CIFolderContainerMiniData">
    <%= render "folders/folders_formdata", folders: @folders %>
  </div>
  <div class="CIContainerMini" id="CIContainerMiniData">
    <%= render "content_images/collection_formdata", content_images: @content_images %>
  </div>
  <div class="clearfix"></div>
</div>
