.folderContainer img {
  width: 60px;
  margin-top: 10px;
}

.card-folders .breadcrumb {
  margin-top: 20px;
  width: 50%;
  margin-bottom: 30px;
}

.borderLightGray {
  position: relative;
  width: 115px;
  height: 115px;
  margin-left: 20px;
  margin-bottom: 20px;
  border: 0.5px solid #CCCCCC;
}

.folderContainer {
  text-align: center;
  margin-top: 10px;
  width: 125px;
  padding: 0;
  margin-bottom: 25px;
  align-self: start;
  background: none;
  border: none;
  outline-color: transparent !important;
  cursor: pointer;
}

.folderIcon {
  font-size: 3em;
  line-height: 1.25em;
}

.folder-icon-color {
  color: #FFC107;
  text-shadow: 1px 1px 0px darken(#FFC107, 7.5%);
  ;
}

.contentFolderDelete,
.contentImageDelete {
  position: absolute;
  color: #585353;
  font-size: 12px;
  top: -9px;
  right: -12px;
  cursor: pointer;
  display: none;
}

.contentImageFolderBox:hover .contentFolderDelete,
.contentImageFolderBox:hover .contentImageDelete {
  display: block;
}

.contentImageDelete img,
.contentFolderDelete img {
  width: 22px;
}

.ContentFolderLinks {
  position: absolute;
  background: #BBBBBB;
  border-top: 1px solid #eaeaea;
  border-radius: 0;
  font-size: 10px;
  bottom: 0;
  right: 0;
  padding: 2px;
  z-index: 99;
  text-align: center;
  width: 115px;
  cursor: pointer;
}

a.contentFolderInfo,
a.contentFolderEdit {
  padding: 0px 6px 0px 6px;
  color: #FFFFFF;
}

a.contentFolderEdit {
  float: right;
}

a.contentFolderInfo {
  float: left;
}

.emptyDataFolder {
  text-align: center;
  color: #566787;
}

.emptyDataFolder img {
  width: 400px;
}

.contentImageBox img {
  max-width: 100%;
  object-fit: cover;
  width: auto;
  height: 88px;
  margin-top: 12px;
}

.contentImageBoxLink {
  text-align: center;
  margin-top: 10px;
  width: 125px;
  padding: 0;
  margin-bottom: 25px;
  align-self: start;
  background: none;
  border: none;
  outline-color: transparent !important;
  cursor: pointer;
}

.contentImageField {
  padding: 3px 8px 3px 8px;
  font-size: 12px;
  border-radius: 0;
}

.contentImageLabel {
  font-size: 12px;
}

.contentImageRemove .bi-trash-fill {
  color: #dc3545;
}

.ci-error-message {
  color: #cc0033;
  display: inline-block;
  font-size: 11px;
  line-height: 15px;
  margin: 5px 0 0;
  display: none;
}

.ci-error .ci-error-message {
  display: block;
}

.ci-error .contentImageField {
  border-color: #dc3545;
}

.breadcrumb .active a {
  color: #566787
}

.formContainer {
  padding: 12px 10px;
  margin: 30px 0;
  border-radius: 5px;
  font-size: 13px;
  border: 1px solid #e4e4e4;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.editorContainer {
  padding: 12px 10px;
  margin: 30px 0;
  border-radius: 5px;
  font-size: 13px;
  border: 1px solid #e4e4e4;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.contentImageContainer {
  overflow: auto;
  height: calc(100vh - 431px);
}


.formControlShowFolderAndImages {
  border: 1px solid #ced4da;
  display: flow-root;
  height: calc(100vh - 580px);
  overflow: scroll;
  padding-top: 20px;
}

.borderLightGrayMini{
  position: relative;
  width: 70px;
  height: 70px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.folderContainerMini{
  text-align: center;
}

.folderContainerMini img {
  width: 35px;
}

.FolderBoxMini, .contentImageFolderBoxMini {
  border: 0.5px solid #CCCCCC;
}

.contentImageBoxMini img {
  height: 69px;
  margin-top: 0px;
  max-width: 100%;
  object-fit: cover;
  width: auto;
}

.CIFolderContainerMini .breadcrumb {
  font-size: 12px;
  background: #eee4ba;
  padding: 3px 16px;
}
.contentImageEmptyBox {
  text-align: center;
  font-size: 12px;
  color: #e7ac3f;
}

.contentImageEmptyBox img {
  width: 45px;
}
